$fontN: "Nunito", sans-serif;
.overview_header_block {
  display: flex;
  align-items: center;
  p {
    font: normal normal bold 14px/19px "Nunito";
    color: #1e1e1e;
    margin-right: 19px !important;
    img {
      margin-right: 5px;
    }
  }
  .analytics_selector {
    border: 1px solid #1b1c2147;
    border-radius: 18px;
    height: 26px;
    font-size: 14px;
    font-family: nunito;
    padding: 2px 10px;
    &:focus {
      border: 1px solid #1b1c2147;
      box-shadow: none;
    }
  }
  .agent_text {
    max-width: 200px;
    width: 100%;
  }
  button {
    border-radius: 6px;
    background-color: #32e0a1;
    height: 36px;
    font: normal normal bold 14px/19px "Nunito";
    text-transform: none;
    color: black;
  }
}

.template_header_block {
  .create-scratch-btn {
    background-color: #32e0a1 !important;
    border-radius: 6px;
    text-transform: capitalize;
    box-shadow: none !important;
    height: 35px;
    font-size: 14px;
    line-height: 19px;
    color: #1e1e1e;
    font-family: $fontN;
    font-weight: 700;
  }
  .manager-btn {
    background-color: #10394b !important;
    border-radius: 6px;
    text-transform: none;
    box-shadow: none !important;
    height: 35px;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    margin-right: 30px;
    font-family: $fontN;
    font-weight: 700;
  }
}

.indicator_header_block {
  width: 204px;
}
